.author__link,
.author__name {
  text-decoration: none;
}

.author:hover .author__image,
.author:focus .author__image {
  fill: #68b738;
}

.author:active .author__name,
.author:active .author__image {
  opacity: 0.3;
}

.author__name {
  width: 114px;
  color: #444444;
  font-family: $minor-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 19px;
}

.author__image {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .author__link {
    margin-left: 23px;
  }
}
