.availability__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  width: 87%;
  margin: 0 auto;
  padding: 29px 18px 29px 18px;
  line-height: 30px;
  height: 369px;
}

.availability {
  text-align: center;
  background-image: url("../img/background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #283645;
  background-position: center -60px;
  overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/iphone-hand-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 258px;
    height: 286px;
    top: 141px;
    margin-left: -125px;
  }
}

.availability__img {
  margin-left: -129px;
  margin-top: -4px;
}

.availability__wrap {
  background-color: #283645;
  padding-top: 48px;
}

.availability__link {
  text-align: center;
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 281px;
  height: 55px;
  border: 3px solid #ffffff;
  border-radius: 35px;
  padding-top: 14px;
  box-sizing: border-box;
  margin: 0 auto;
}

.availability__platforms {
  display: flex;
  margin: 32px 16% 0 16%;
  align-items: center;
  justify-content: space-between;
}

.availability__access {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 72%;
  margin: 29px auto 0;
  padding-bottom: 35px;
}

@media (min-width: $tabletWidth) {
  .availability__container {
    display: flex;
  }

  .availability {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../img/background-tablet@1x.jpg");
    background-position: center -108px;
    min-height: 622px;

    &::before {
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: bottom;
      width: 700px;
      height: 545px;
      top: 77px;
      right: -23px;
    }
  }

  .availability__wrap {
    padding: 0;
    background-color: transparent;
    margin-top: -256px;
    width: 45%;
    margin-left: 50px;
    z-index: 2;
  }

  .availability__img {
    margin: 0;
    top: 81px;
    left: -113px;
    min-width: 877px;
    min-height: 545px;
  }

  .availability__title {
    font-size: 40px;
    font-weight: 300;
    width: 56%;
    margin-left: -2px;
    margin-top: 61px;
  }

  .availability__access {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    width: 100%;
  }
}
