body {
  //min-width: $width;
  margin: 0 auto;
}

.body__header {
  margin-top: 49px;
}

.body__main {
  margin-top: 36px;
}

.body__background {
  background-color: #d7dcde;
}

.body__footer {
  width: $width;
  margin: 80px auto 0 auto;
  position: relative;
}

.body__write {
  width: 960px;
  height: 590px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  margin: 30vh auto 0 auto;
  position: fixed;
  top: 65px;
  left: 50%;
  background-color: #ffffff;
  z-index: 50;
  margin-left: -480px;

  &--hide {
    display: none;
  }
}

.body__iframe {
  z-index: 1;
  position: absolute;
  bottom: -1035px;

  &--catalog {
    bottom: -1768px;
  }
}
