.explanation {
  margin: 0 auto;
}

.explanation_detail {
  color: #111111;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  margin: -5px 0 0 20px;
}

.explanation__list {
  list-style-type: none;
  padding: 0;
  margin: 32px 23px 0 21px;
}

@media (min-width: $tablet-width) {
  .explanation_detail {
    font-size: 60px;
    margin: 40px 0 76px 31px;
  }

  .explanation__list {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 0 30px;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .explanation_detail {
    margin: 72px 0 0 34px;
  }

  .explanation__list {
    margin: 76px 40px 0 30px;
    border-bottom: none;
  }
}
