.filter {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-right: 140px;
  margin-top: 60px;
}

.filter__form {
  width: 261px;
  height: 80px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  position: relative;
}

.filter__line {
  width: 210px;
  height: 2px;
  background-color: #d7dcde;
  position: absolute;
  top: 40px;
  left: 21px;
}

.filter__cost {
  margin-top: 75px;
  display: flex;
}

.filter__line-sort {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
  position: relative;
  top: 0;
  left: 0;
}

.filter__pin {
  &--low {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }

  &--high {
    position: absolute;
    top: -10px;
    left: 140px;
    z-index: 1;
    cursor: pointer;
  }
}

.filter__grid {
  margin-top: 76px;
}

.filter__features {
  margin-top: 16px;
}

.filter__show {
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  border: none;
  margin-top: 34px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;

  &:hover {
    background-color: #dfdfdf;
  }

  &:active,
  &:focus {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
    outline: none;
    color: rgba(0, 0, 0, 0.3);
  }
}
