.filter {
  background-color: #f2f2f2;
  text-align: center;
}

.filter__img {
  margin-top: 20px;
}

.filter__variant {
  margin: 42px 20% 45px 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__line {
  width: 75%;
  border-bottom: 2px solid black;
  margin: 0 auto;
}

.filter__container {
  text-align: center;
  position: relative;
  margin-bottom: 67px;
}

.filter__img-point {
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: 59px;
}

.filter__submit {
  width: 280px;
  height: 55px;
  border: 3px solid #d22856;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  outline: none;

  &:hover,
  &:focus {
    background-color: #d22856;
    transition: 0.3s;
    color: #ffffff;
  }

  &:active {
    background-color: #d22856;
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.3);
  }
}

.filter__cancel {
  margin-top: 12px;
  width: 280px;
  height: 55px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  color: rgba(40, 54, 69, 0.1);
  border-radius: 30px;
  margin-bottom: 41px;
  background-color: white;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    border: 3px solid rgba(40, 54, 69, 0.3);
    transition: 0.3s;
    color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.3);
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.3);
    border: none;
  }
}

@media (min-width: $tabletWidth) {
  .filter {
    justify-content: space-around;
  }

  .filter__container {
    display: none;
  }

  .filter__img {
    margin-top: 57px;
    margin-bottom: 54px;
    margin-left: 23px;
    width: 100%;
  }

  .filter__wrap-tablet {
    width: 50%;
    margin-left: 48px;
    margin-top: 66px;
  }

  .filter__background-tablet {
    display: flex;
    min-height: 511px;
    width: $tabletWidth;
    margin: 0 auto;
  }

  .filter__variant {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: 21px;
  }

  .filter__container-button {
    margin-top: 79px;
  }
}

@media (min-width: $desktopWidth) {
  .filter {
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .filter__background-tablet {
    width: auto;
    min-height: 514px;
    padding: 0 90px 0 80px;
  }

  .filter__img {
    margin-left: 0;
    margin-bottom: 57px;
  }

  .filter__wrap-tablet {
    width: 383px;
    margin-left: 80px;
  }

  .filter__submit {
    width: 183px;
    height: 55px;
    margin-right: 44px;
  }

  .filter__cancel {
    width: 183px;
    height: 55px;
  }

  .filter__container-button {
    margin-top: 103px;
    margin-left: -18px;
    width: 415px;
  }
}
