.footer__img {
  margin-top: 40px;
}

.footer__social-list {
  margin: 40px 22% 42px 22%;
  display: flex;
  justify-content: space-between;
}

.footer__container {
  display: flex;
  margin: 0 29% 40px 26%;
  justify-content: space-between;
  align-items: center;
}

.footer__academy {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media (min-width: $tabletWidth) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-height: 127px;
    margin: 0 4%;
  }

  .footer__img {
    width: 147px;
    height: 40px;
    margin-top: 36px;
  }

  .footer__container {
    margin: 0;
    width: 128px;
  }

  .footer__social-list {
    margin: 0;
    width: 34%;
  }
}

@media (min-width: $desktopWidth) {
  .footer__img {
    margin: 0;
  }

  .footer {
    min-height: 227px;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }

  .footer__social-list {
    width: 20%;
  }
}
