.footer__img {
  margin-top: 40px;

  &--desktop {
    display: none;
  }
}

.footer__social-list {
  margin: 40px 22% 42px 22%;
  display: flex;
  justify-content: space-between;
}

.footer__container {
  display: flex;
  margin: 0 29% 40px 26%;
  justify-content: space-between;
  align-items: center;
}

.footer__academy {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.footer-index__link-add--inactive {
  pointer-events: none;
}

.footer__academy-img {
  fill: #d22856;

  &:hover,
  &:focus {
    fill: black;
    transition: 0.3s;
  }

  &:active {
    fill: black;
    opacity: 0.3;
    transition: 0.3s;
  }
}

@media (min-width: $tabletWidth) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-height: 127px;
    margin: 0 4%;
  }

  .footer__img {
    width: 147px;
    height: 40px;
    margin-top: 36px;

    &:hover,
    &:focus {
      fill: #d22856;
      transition: 0.3s;
    }

    &:active {
      transition: 0.3s;
      opacity: 0.3;
    }

    &--desktop {
      display: none;
    }
  }

  .footer__container {
    margin: 0;
    width: 128px;
  }

  .footer__social-list {
    margin: 0;
    width: 34%;
  }
}

@media (min-width: $desktopWidth) {
  .footer__img {
    margin: 0;
    display: none;

    &:hover,
    &:focus {
      fill: #d22856;
      transition: 0.3s;
    }

    &:active {
      transition: 0.3s;
      opacity: 0.3;
    }

    &--desktop {
      display: block;
    }
  }

  .footer {
    min-height: 227px;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }

  .footer__social-list {
    width: 20%;
  }

  .footer-index__link {
    &--mail:hover,
    &--mail:focus {
      color: #283645;
      border-bottom: 1px solid #283645;
    }

    &--mail:active {
      opacity: 0.3;
      color: #283645;
      border: none;
    }

    &--telephone:hover,
    &--telephone:focus {
      color: #283645;
      border-bottom: 1px solid #283645;
    }

    &--telephone:active {
      opacity: 0.3;
      color: #283645;
      border: none;
    }
  }
}
