.grid-list__item {
  margin-bottom: 20px;
  margin-left: 37px;
}

.grid-list__label {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  cursor: pointer;

  &:hover::before {
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/radio-off.png");
    width: 25px;
    height: 25px;
    top: -3px;
    left: -39px;
    opacity: 0.4;
  }
}

.grid-list__input:checked + .grid-list__label::after {
  position: absolute;
  content: "";
  background-image: url("../img/radio-on.png");
  width: 25px;
  height: 25px;
  top: -3px;
  left: -39px;
  z-index: 1;
  opacity: 0.4;
}

.grid-list__input:checked:hover + .grid-list__label::after {
  opacity: 1;
}

.grid-list__input:checked + .grid-list__label::before {
  display: none;
}
