.introduction {
  text-align: center;
  position: relative;
}

.introduction__background {
  background-color: #283645;
}

.introduction__container {
  background-image: url("../img/back-mobile@1x.png");
  width: 320px;
  height: 170px;
  background-position: center -66px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.introduction__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  margin: 0 14% 53px 14%;
  padding-top: 36px;
  line-height: 30px;
}

.introduction__bonus {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 54px 8% 49px 8%;
}

@media (min-width: $tabletWidth) {
  .introduction__bonus {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 100px 14% 76px 14%;
  }
}

@media (min-width: $desktopWidth) {
  .introduction__bonus {
    margin: 100px auto 77px;
    width: 64%;
  }
}
