.pages {
  display: flex;
  margin-top: 40px;
}

.pages__item {
  margin-right: 11px;
}

.pages__link {
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 16px;
  background-color: #eeeeee;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    background-color: #dfdfdf;
  }

  &:focus,
  &:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
  }

  &--active {
    border: 3px solid #dbdbdb;
    background-color: white;
    padding-top: 13px;
    pointer-events: none;
  }

  &--next {
    padding-top: 16px;
    margin-right: 11px;
    background-color: #eeeeee;
    width: 260px;
    height: 50px;
  }
}
