.photos {
  text-align: center;
  position: relative;
}

.photos__container {
  background-image: url("../img/back-mobile@1x.png");
  width: 320px;
  height: 170px;
  background-position: center -66px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.photos__title {
  margin: 0 25%;
  padding-top: 35px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 37px;
}

.photos__background {
  background-color: #283645;
}

.photos__offer {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 54px 12% 56px;
}
