.photos {
  text-align: center;
  position: relative;
}

.photos__title {
  margin: 0 25%;
  padding-top: 35px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 37px;
}

.photos__background {
  background-color: transparent;
}

.photos__offer {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
  background-color: white;
  padding: 54px 35px 56px;
}

@media (min-width: $tabletWidth) {
  .photos__offer {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 67%;
  }
}
