.price__wrap-table {
  position: relative;
  overflow: hidden;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -10%;
    left: -50%;
    z-index: -1;
    background-color: #f2f2f2;
    transform: rotate(-93deg);
  }
}

.price__tablet,
.price__heading-tablet {
  display: none;
}

.price__name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 15px;
}

.price__number {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.price__availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  width: 276px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.price__mobile {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 22px;
}

.price__option {
  margin-right: 19px;
}

.price__row {
  display: flex;
}

.price__heading {
  display: flex;
  background-color: #283645;
}

.price__heading-th {
  width: 276px;
  height: 94px;
  box-sizing: border-box;

  &:nth-child(1) {
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
  }

  &:nth-child(2) {
    border-right: 2px solid #e5e5e5;
  }

  &:nth-child(3) {
    border-right: 2px solid #e5e5e5;
  }
}

.price__table {
  margin: 100px auto 0 auto;
  transform: translateX(-259px);
}

@media (min-width: $tabletWidth) {
  .price__wrap-table {
    padding-top: 35px;

    &::before {
      top: -12%;
      transform: rotate(-93deg);
      width: 200%;
      height: 400%;
    }
  }

  .price__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 33px;
  }

  .price__number {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
  }

  .price__heading-th,
  .price__availability {
    width: 152px;
    height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .price__mobile {
    display: none;
  }

  .price__table {
    transform: none;
    margin: 44px auto 70px auto;
  }

  .price__tablet {
    display: block;
    color: #283645;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  .price__heading-tablet {
    display: block;
    width: 152px;
    height: 75px;
    background-color: #f2f2f2;
    border-right: 2px solid #e5e5e5;
  }
}

@media (min-width: $desktopWidth) {
  .price__wrap-table {
    padding-top: 84px;

    &::before {
      top: 12%;
      transform: rotate(-3deg);
      width: 200%;
      height: 400%;
    }
  }

  .price__heading-th {
    width: 233px;
    height: 94px;
  }

  .price__availability {
    width: 233px;
    height: 59px;

    &--left {
      align-items: flex-start;
      padding-left: 47px;
    }
  }

  .price__heading-tablet {
    width: 233px;
    height: 94px;
  }

  .price__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 0;
  }

  .price__number {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
  }

  .price__tablet {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .price__table {
    margin-bottom: 98px;
  }
}
