.profile__wrap-center {
  margin: 0 auto;

  &--padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.profile__wrap-border {
  padding-bottom: 37px;
  border-bottom: 3px solid #68b738;
  margin-bottom: -17px;

  &--contact {
    padding-bottom: 25px;
    margin-bottom: -24px;
  }

  &--habits {
    padding-bottom: 28px;
    margin-bottom: -25px;
  }
}

.profile__float-left {
  display: flex;
  justify-content: center;
}

.profile__title-section {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin: 0 0 24px 0;
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #ededed;
}

.profile__write {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 96px 39px 0;
  text-align: left;
}

.profile__wrap-padding {
  padding: 0 19px;
  width: 320px;
  margin: auto;
}

.profile__wrap,
.profile__radio,
.profile_about,
.profile__checkbox {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile__wrap,
.profile__radio {
  border-bottom: 1px solid #ededed;
}

.profile__radio {
  margin-top: 23px;
  padding-bottom: 6px;
  margin-bottom: 7px;
}

.profile__contact {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: -23px 94px 18px 0;
  position: relative;
  transform: translateY(50%);
  display: inline-block;
  background-color: white;
  padding-right: 24px;
  padding-left: 20px;
}

.profile__wrap-submit,
.profile__wrap-necessarily {
  display: flex;
  justify-content: center;
}

.profile__checkbox {
  margin: -14px 0 36px 20px;
  padding-top: 25px;
}

.profile__comment {
  margin: -17px 20px 0 19px;
  padding-top: 24px;
  padding-bottom: 18px;
}

.profile__about {
  margin: -20px 20px 18px 19px;
  padding-top: 59px;
  padding-left: 0;
}

.profile__submit {
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  background-color: #68b738;
  padding: 13px 0 11px 0;
  width: 100%;
  white-space: nowrap;
  outline: none;
  font-family: inherit;

  &:active {
    color: rgba(#000000, 0.3);
  }

  &:hover {
    background-color: #5eaa2f;
    outline: none;
  }
}

.profile__text {
  color: #444444;
  font-family: $minor-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 18px 0 34px 0;
}

@media (min-width: $tablet-width) {
  .profile__wrap-tablet {
    display: flex;
    justify-content: space-between;
    margin: 29px 175px 72px 68px;
    align-items: center;
  }

  .profile__float-left {
    display: inline-block;
  }

  .profile__conteiner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .profile__wrap-center--padding {
    padding: 0;
  }

  .profile__wrap-border {
    padding-bottom: 121px;
    margin-bottom: -124px;

    &--contact {
      padding-bottom: 122px;
      margin-bottom: -122px;
    }
  }

  .profile__title-section {
    font-size: 60px;
    margin: 57px 0 55px 0;
    border: none;
    float: left;
    text-align: left;
  }

  .profile__write {
    font-size: 20px;
    margin: 53px 0 61px 0;
    line-height: 30px;
  }

  .profile__wrap-padding {
    padding: 0;
    width: auto;
    padding-top: 3px;

    &--border {
      border: 1px solid rgba(#cdcdcd, 0.5);
      width: auto;
      min-height: 189px;
    }
  }

  .profile__wrap,
  .profile__radio {
    border-bottom: none;
  }

  .profile__radio {
    margin-top: 49px;
    margin-bottom: -25px;
  }

  .profile__contact {
    font-size: 36px;
    line-height: 36px;
    margin: 79px 23px 0 28px;
    padding-left: 38px;
    padding-right: 45px;
  }

  .profile__about {
    margin: 0;
    padding-bottom: 0;
    padding-left: 70px;
    padding-right: 67px;
    padding-top: 89px;
    margin-top: 0;
    margin-bottom: -51px;
  }

  .profile__comment {
    margin: 0 65px -47px 67px;
    padding-top: 71px;
    padding-left: 10;
  }

  .profile__checkbox {
    margin: 0;
    padding-top: 63px;
    padding-left: 65px;
  }

  .profile__text {
    margin: 0;
    font-size: 16px;
  }

  .profile__submit {
    padding: 17px 0 15px 0;
    min-width: 283px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .profile__write {
    width: 322px;
    margin: 53px 0 0 32px;
  }

  .profile__wrap-border {
    padding-bottom: 69px;
    margin-bottom: -117px;

    &--contact {
      padding-bottom: 90px;
      margin-bottom: -117px;
    }

    &--habits {
      padding-bottom: 78px;
      margin-bottom: -117px;
    }
  }

  .profile__title-section {
    margin: 75px 0 0 33px;
    text-align: left;
  }

  .profile__wrap-desktop {
    display: flex;
    margin: 62px 40px 0 33px;
  }

  .profile__wrap {
    width: 570px;
    margin-right: 80px;
  }

  .profile__about {
    display: flex;
    margin: 21px 40px 0 24px;
    padding-top: 70px;
    padding-left: 10px;
  }

  .profile__radio {
    margin: 0;
  }

  .profile__wrap-padding--border {
    margin: 0;
    width: 570px;
  }

  .profile__wrap-padding {
    margin: 0;
  }

  .profile__contact {
    margin: 73px 0 0 -7px;

    &::before {
      width: 750px;
      top: 23px;
      left: 525px;
    }
  }

  .profile__comment {
    margin: 0 40px 0 30px;
    padding-top: 71px;
    padding-left: 10px;
  }

  .profile__checkbox {
    margin: 17px 0 0 34px;
    padding-top: 64px;
    padding-left: 10px;
  }

  .profile__wrap-tablet {
    margin: 68px 438px 91px 33px;
  }

  .profile__submit--green::before {
    width: 568px;
    top: -16px;
    left: -175px;
  }

  .profile__submit {
    padding: 17px 0 15px 0;
    min-width: 568px;
  }
}
