.program-list {
  list-style-type: none;
}

.program-list__item {
  background-color: #f2f2f2;
  width: 280px;
  min-height: 266px;
  margin-bottom: 20px;
}

.program-list__heading {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 0 12px;
  margin: 0;
  position: relative;

  &--icon-thin::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 49px;
    top: 21px;
    left: 30px;
    background-image: url("../img/icon-cat-slim.svg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    top: 24px;
    left: 22px;
    background-color: #68b738;
  }
}

.program-list__heading--icon-fat {
  padding: 30px 0 0 39px;

  &::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    top: 34px;
    left: 14px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.program-list__description {
  color: #444444;
  font-family: $minor-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 23px;
  margin: 30px 20px 15px 20px;
  border-bottom: 1px solid rgba(#000000, 0.1);
}

.program-list__catalog {
  color: #111111;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;
  margin-top: 44px;
  position: relative;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 97px;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    width: 33px;
    height: 11px;
  }
}

@media (min-width: $tablet-width) {
  .program-list__heading {
    font-size: 36px;
    line-height: 37.02px;
    padding: 73px 0 0 55px;
    text-align: left;

    &::before {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      top: 87px;
      left: 448px;
    }

    &--icon-thin::after {
      width: 140px;
      height: 194px;
      top: 77px;
      left: 478px;
    }

    &--icon-fat::after {
      width: 268px;
      height: 112px;
      top: 129px;
      left: 414px;
    }
  }

  .program-list__description {
    font-size: 16px;
    line-height: 24px;
    width: 372px;
    margin: 25px 0 55px 53px;
    padding: 0;
    border-bottom: none;
  }

  .program-list__catalog {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 62px 53px;

    &::before {
      top: 10px;
      left: 131px;
    }
  }

  .program-list__item {
    width: 708px;
    min-height: 372px;
    margin: 0 30px 30px 30px;
  }
}

@media (min-width: $desktop-width) {
  .program-list__item {
    width: 570px;
    min-height: 372px;
    margin: 0;
  }

  .program-list__item:nth-child(2) {
    margin-left: 80px;
  }

  .program-list__heading {
    padding: 75px 0 75px 48px;
    text-align: center;

    &::before {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      top: 45px;
      left: 50px;
    }

    &--icon-thin::after {
      width: 70px;
      height: 97px;
      top: 40px;
      left: 63px;
    }

    &--icon-fat::after {
      width: 134px;
      height: 56px;
      top: 67px;
      left: 32px;
    }
  }

  .program-list__description {
    width: 462px;
    margin: -2px 0 32px 46px;
  }
}
