.progress__item {
  margin: 0 8% 64px 8%;
  display: flex;
  justify-content: flex-start;
}

.progress__label {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 7vh;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    width: 35px;
    height: 35px;
    top: -5px;
    left: -62px;
  }
}

.progress__input:checked + .progress__label::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon_checkbox.png");
  width: 22px;
  height: 16px;
  top: 7px;
  left: -53px;
}

@media (min-width: $tabletWidth) {
  .progress__item {
    margin: 28px 60px 53px 60px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

@media (min-width: $desktopWidth) {
  .progress {
    display: flex;
    flex-wrap: wrap;
    margin: 28px 65px -13px 60px;
    justify-content: space-between;
  }

  .progress__item {
    margin: 0;
    min-width: 255px;

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 6;
    }

    &:nth-child(3n) {
      margin-bottom: 64px;
    }
  }

  .progress__label {
    width: 200px;
  }
}
