.promo {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: 198px;
    right: 0;
    width: 100%;
    min-height: 307px;
    z-index: -3;
    background: linear-gradient(to right, #65a93c calc(45%), #63a73a calc(55%));
  }
}

.promo__wrap-center {
  margin: 0 auto;
}

.promo__food {
  color: #ffffff;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 27px 0 0 0;
}

.promo__slogan {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 25px 0 29px 0;
}

.promo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 320px;
    height: 305px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    z-index: -2;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.promo__wrap-tablet {
  display: flex;
  flex-direction: column;
}

.promo__program {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  margin: -3px 0 23px 0;
  position: relative;
  text-decoration: none;
  background-color: #68b738;
  padding: 12px 0 12px 0;

  &:active {
    color: rgba(#000000, 0.3);
  }

  &:hover {
    background-color: #5eaa2f;
  }
}

.promo__wrap-picture {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .promo::before {
    background: none;
  }

  .promo__food {
    width: 410px;
    color: #111111;
    font-size: 59px;
    line-height: 60px;
    text-transform: none;
    text-align: left;
    margin-top: 58px;
    margin-left: 120px;
  }

  .promo__slogan {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    margin: 40px 0 0 120px;
  }

  .promo-wrap {
    align-items: flex-start;

    &::before {
      display: none;
    }
  }

  .promo__program {
    padding: 12px 0 12px 0;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    margin: 46px 0 0 120px;
    position: absolute;
  }

  .promo__food-image {
    align-self: center;
    order: 2;
    margin-top: 20px;
    margin-left: 26px;
  }

  .promo__wrap-tablet {
    display: flex;
    flex-direction: row;
  }

  .promo__wrap-picture {
    width: 709px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .promo-wrap {
    padding-left: 116px;
    position: relative;
  }

  .promo__food-image {
    margin-left: 370px;
    margin-top: -259px;
  }

  .promo__wrap-picture {
    width: 552px;
  }

  .promo__food {
    margin-top: 107px;
    margin-left: 0;
  }

  .promo__slogan {
    margin: 43px 0 0 -4px;
  }

  .promo__program {
    margin: 52px 0 0 -6px;
  }

  .promo::before {
    background-color: transparent;
  }
}
