.radio__item {
  margin: 0 8% 64px 8%;
  display: flex;
  justify-content: flex-start;

  &:last-child {
    padding-bottom: 54px;
    margin-bottom: 0;
  }
}

.radio__label {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 7vh;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 36px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    border-radius: 50%;
    top: -5px;
    left: -62px;
  }
}

.radio__input:checked + .radio__label::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
  top: 8px;
  left: -50px;
}
