.select__label {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 46px;
}

.select__radio + .select__label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -3px;
  left: 0;
  border: 1px solid #cdcdcd;
  border-radius: 15px;
}

.select__radio:checked + .select__label::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 7px;
  left: 10px;
  background-color: #68b738;
  border-radius: 15px;
}

.select__item {
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .select__label {
    font-size: 20px;
    line-height: 20px;
    padding-left: 85px;
  }

  .select__item {
    margin-top: 30px;
  }

  .select__radio + .select__label::before {
    top: -4px;
    left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .select__radio:checked + .select__label::after {
    top: 7px;
    left: 37px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
  }
}
