.switch {
  position: relative;
  display: flex;
  justify-content: center;
}

.switch__item {
  position: absolute;
  content: "";
  background-image: url("../img/no-check.png");
  width: 6px;
  height: 6px;
  top: -28px;

  &:nth-child(1) {
    margin-right: 19px;
  }

  &:nth-child(2) {
    margin-right: 19px;
  }
}

.switch__item--check {
  position: absolute;
  content: "";
  background-image: url("../img/check.png");
  width: 12px;
  height: 12px;
  top: -28px;
}
