.slider__slide {
  text-align: center;
  margin: 49px 6% 0 6%;
  flex-direction: column;

  &--2,
  &--3 {
    display: none;
    flex-direction: column;
  }
}

.slider__previous,
.slider__next {
  display: none;
}

.slider__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.slider__message {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.slider__switch {
  margin-top: 42px;
}

.slider__about {
  display: none;
}

@media (min-width: $tabletWidth) {
  .slider__slide {
    margin-top: 106px;
    display: flex;
    flex-direction: column-reverse;

    &--2,
    &--3 {
      display: none;
    }
  }

  .slider__message {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 104%;
  }

  .slider__name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 44px;
  }

  .slider__about {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    display: block;
  }
}

@media (min-width: $desktopWidth) {
  .slider {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      width: 115px;
      height: 91px;
      background-image: url("../img/quotes.svg");
      top: 52px;
      left: 550px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .slider__message {
    width: 74%;
    text-align: center;
  }

  .slider__previous {
    display: block;
    margin-left: 125px;
    cursor: pointer;
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 0.6;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.1;
      transition: 0.3s;
    }
  }

  .slider__next {
    display: block;
    margin-right: 125px;
    cursor: pointer;
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 0.6;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.1;
      transition: 0.3s;
    }
  }

  .slider__wrap {
    overflow: hidden;
    width: 1010px;
    height: 417px;
    position: relative;
  }

  .slider-container {
    position: relative;
    top: -100px;
    left: -125px;
    width: 3030px;
    height: 417px;
    display: flex;
  }

  .slider__slide {
    align-items: center;
    width: 1010px;
    height: 417px;
    float: left;
    z-index: 0;

    &--2,
    &--3 {
      display: flex;
    }
  }
}
