.slider__slide {
  text-align: center;
  margin: 49px 6% 0 6%;
}

.slider__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.slider__message {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.slider__switch {
  margin-top: 42px;
}

.slider__about {
  display: none;
}

@media (min-width: $tabletWidth) {
  .slider__slide {
    margin-top: 106px;
    display: flex;
    flex-direction: column-reverse;
  }

  .slider__message {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 104%;
  }

  .slider__name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 44px;
  }

  .slider__about {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    display: block;
  }
}
