.social {
  display: flex;
}

.social__item {
  margin-right: 12px;
  width: auto;
}

.social__link {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  position: relative;
  display: block;

  &:hover {
    background-color: #e74246;
  }

  &:active,
  &:focus {
    box-shadow: inset 60px 50px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
  }

  &--vk::before {
    position: absolute;
    content: "";
    background-image: url("../img/vk-icon.png");
    width: 26px;
    height: 15px;
    top: 32px;
    left: 23px;
  }

  &--face::before {
    position: absolute;
    content: "";
    background-image: url("../img/fb-icon.png");
    width: 12px;
    height: 22px;
    top: 28px;
    left: 33px;
  }

  &--insta::before {
    position: absolute;
    content: "";
    background-image: url("../img/insta-icon.png");
    width: 21px;
    height: 21px;
    top: 30px;
    left: 30px;
  }
}

.social__link:active.social__link::before {
  opacity: 0.3;
}
