.time {
  display: none;
}

@media (min-width: $tabletWidth) {
  .time {
    display: flex;
    margin: 59px auto 0;
    width: 95%;
  }

  .time__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 43px;
  }

  .time__word {
    line-height: 24px;
    font-size: 19px;
    font-weight: 400;
    margin-top: 30px;
    width: 96%;
  }

  .time__link {
    color: #d22856;
    line-height: 24px;
    font-size: 19px;
    font-weight: 400;
    margin-top: 26px;
    display: block;
  }

  .time__wrap {
    margin-left: 65px;
  }
}
