.variant__container {
  display: none;
}

@media (min-width: $tabletWidth) {
  .variant__img {
    color: red;
    margin-right: 51px;
    min-width: 24px;

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  .variant__line {
    width: 202px;
    border-bottom: 2px solid black;
    margin: 0 auto;
  }

  .variant__item {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dedfe1;
    padding-bottom: 23px;
    margin-bottom: 21px;

    &:last-child {
      border-bottom: none;
    }
  }

  .variant__img-point {
    position: absolute;
    left: 50%;
    top: 4px;

    &--crop {
      margin-left: 85px;
    }

    &--fill {
      margin-left: -35px;
    }

    &--contrast {
      margin-left: 24px;
      top: 1px;
    }
  }

  .variant__container {
    display: block;
  }
}

@media (min-width: $desktopWidth) {
  .variant__img {
    color: red;
    margin-right: 48px;
    min-width: 48px;

    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .variant__line {
    width: 288px;
  }

  .variant__img-point {
    top: 15px;

    &--crop {
      margin-left: -45px;
    }

    &--fill {
      margin-left: 145px;
    }

    &--contrast {
      top: 9px;
    }
  }

  .variant__item {
    padding-bottom: 13px;

    &:last-child {
      border-bottom: 1px solid #dedfe1;
    }
  }
}
