.variant__input {
  display: none;
}

.variant__common {
  width: 71%;
  margin-bottom: 73px;
  appearance: none;
  outline: none;
  background: transparent;
  border-color: transparent;
  color: transparent;

  &:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid #d22856;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transform: translateY(-6px);
    background-color: #f2f2f2;

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
      background-color: #d22856;
    }
  }

  /* All the same stuff for Firefox */
  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 2px solid #d22856;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    &:active {
      outline: none;
      background-color: #d22856;
    }
  }

  /* All the same stuff for IE */
  &::-ms-thumb {
    width: 14px;
    height: 14px;
    border: 2px solid #d22856;
    border-radius: 50%;
    cursor: pointer;

    &:active {
      outline: none;
      background-color: #d22856;
    }
  }

  &::-webkit-slider-runnable-track {
    width: 71%;
    height: 2px;
    background-color: black;
    outline: none;
  }

  &::-moz-range-track {
    width: 71%;
    height: 2px;
    background-color: black;
    outline: none;
  }

  &::-ms-track {
    width: 71%;
    height: 2px;
    background-color: black;
    outline: none;
  }

  &::-ms-fill-lower {
    width: 71%;
    height: 2px;
    background-color: black;
    outline: none;
  }

  &::-ms-fill-upper {
    width: 71%;
    height: 2px;
    background-color: black;
    outline: none;
  }
}

.variant__img {
  fill: rgba(40, 54, 69, 0.3);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: rgba(40, 54, 69, 0.5);
    transition: 0.3s;
  }

  &:active {
    fill: #d22856;
    transition: 0.3s;
  }

  &--active {
    fill: #d22856;
    pointer-events: none;
  }
}

@media (min-width: $tabletWidth) {
  .variant__img {
    fill: #d22856;
    pointer-events: none;
    margin-right: 51px;
    min-width: 24px;

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  .variant__line {
    width: 202px;
    border-bottom: 2px solid black;
    margin: 0 auto;
  }

  .variant__item {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #dedfe1;
    padding-bottom: 23px;
    margin-bottom: 21px;
    width: 100%;

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .variant__container {
    display: block;
  }

  .variant__common {
    display: none;
  }

  .variant__input {
    display: block;
    width: 200px;
    appearance: none;
    outline: none;
    background: transparent;
    border-color: transparent;
    color: transparent;

    &:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 14px;
      height: 14px;
      border: 2px solid #d22856;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      transform: translateY(-6px);
      background-color: #f2f2f2;

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
        background-color: #d22856;
      }
    }

    /* All the same stuff for Firefox */
    &::-moz-range-thumb {
      width: 14px;
      height: 14px;
      border: 2px solid #d22856;
      border-radius: 50%;
      cursor: pointer;
      outline: none;

      &:active {
        outline: none;
        background-color: #d22856;
      }
    }

    /* All the same stuff for IE */
    &::-ms-thumb {
      width: 14px;
      height: 14px;
      border: 2px solid #d22856;
      border-radius: 50%;
      cursor: pointer;

      &:active {
        outline: none;
        background-color: #d22856;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 71%;
      height: 2px;
      background-color: black;
      outline: none;
    }

    &::-moz-range-track {
      width: 71%;
      height: 2px;
      background-color: black;
      outline: none;
    }

    &::-ms-track {
      width: 71%;
      height: 2px;
      background-color: black;
      outline: none;
    }

    &::-ms-fill-lower {
      width: 71%;
      height: 2px;
      background-color: black;
      outline: none;
    }

    &::-ms-fill-upper {
      width: 71%;
      height: 2px;
      background-color: black;
      outline: none;
    }
  }
}

@media (min-width: $desktopWidth) {
  .variant__img {
    color: red;
    margin-right: 48px;
    min-width: 48px;

    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .variant__line {
    width: 288px;
  }

  .variant__img-point {
    top: 15px;

    &--crop {
      margin-left: -45px;
    }

    &--fill {
      margin-left: 145px;
    }

    &--contrast {
      top: 9px;
    }
  }

  .variant__item {
    padding-bottom: 13px;

    &:last-child {
      border-bottom: 1px solid #dedfe1;
    }
  }
}
